<gallery id="mySliderElement"
  *ngIf="media$ | async; let config"
  [thumbWidth]="config.thumbWidth"
  [thumbHeight]="config.thumbHeight"
  [itemTemplate]="itemTemplate"
  [thumbTemplate]="thumbTemplate" [dots]="true" [autoPlay]="false" [playerInterval]="5000"></gallery>

<ng-template #itemTemplate let-index="index" let-type="type" let-data="data" let-currIndex="currIndex">
  <ng-container *ngIf="type === 'image' && index === currIndex">
    <lib-ngx-image-zoom [thumbImage]="data.thumb" [fullImage]="data.src" [enableLens]="true" [lensWidth]="150" [lensHeight]="150"></lib-ngx-image-zoom>
    <span class="item-text">
      {{data?.title}}
    </span>
  </ng-container>
</ng-template>